.text-large {
    font-size: 130%;
    padding-top: 20px;
}

.scores {
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 25px;
    
}

.timer {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 25px;
}

a {
    color: rgb(50, 135, 205);
}

.hidden {
    display: none;
}

.choices {
    display: flex;
    flex-direction: column;
  }
  .choices button {
    display: block;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 150%;
    border-radius: 20px;
    border: 0;
  }  

  .center-items {
    font-size: 25px;
    padding: 50px;
    margin-top: 150px;
    margin-left: 250px;
  }